# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
*.pyc

# IDEs / OS junk
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Secrets / Environment
.env

# Raw Data
data/raw/*
!data/raw/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Artifacts / Outputs
artifacts/clean/*
!artifacts/clean/.gitkeep

# Windows ADS streams
*:Zone.Identifier

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Profiling
*.prof
*.lprof
