# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Environment variables
.env

# Data files
data/raw/*.csv
data/raw/*.json
*.parquet
*.pkl

# Keep folder structure but ignore contents
data/raw/*
# !data/raw/.gitkeep
artifacts/clean/*
# !artifacts/clean/.gitkeep
logs/*
# !logs/.gitkeep

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Profiling
*.prof
*.lprof